:root {
  --bright-color: rgba(240, 0, 128, 1);
  --bright-color-faded: rgba(240, 0, 128, 0.2);
  --bright-color-faded-solid: rgba(51, 12, 29, 1);
  --bright-color-faded-more: rgba(240, 0, 128, 0.1);
  --bright-color-subtle: rgba(250, 0, 128, 0.7);
  --brighter-color: rgba(255, 0, 147, 1);
  --contrast-color: rgba(255, 255, 255, .9);
}

body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  margin: 0;
}

.narrow {
  position: relative;
  margin: 0px auto 0;
  width: 800px;
}

@media only screen and (max-width: 600px) {
  .narrow {
    margin: 0px 20px 0;
    width: auto;
  }
}

.menu {
  font-size: 12px;
  color: #000;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menu ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.menu li {
  display: inline;
  padding: 20px;
}

.box {
  background: repeating-linear-gradient(
    45deg,
    var(--bright-color-faded),
    var(--bright-color-faded) 1px,
    rgba(0,0,0,1) 1px,
    rgba(0,0,0,1) 4px
  );
  border: 2px solid var(--bright-color);
  border-radius: 8px;
  box-shadow: 0 0 10px 10px #111; 
  margin: 20px;
}

.box.invert {
  background: repeating-linear-gradient(
    45deg,
    rgba(0,0,0,1),
    rgba(0,0,0,1) 10px,
    var(--bright-color-faded-more) 10px,
    var(--bright-color-faded-more) 20px
  );
  border: 1px dotted rgba(255,20,147,0.5);
  border-radius: 8px;
  margin: 20px;
  box-shadow: none;
}

a {
  color: var(--brighter-color);
}

a:hover {
  background: var(--brighter-color) !important;
  color: #000;
}

sup a {
  border: 0;
  opacity: 0.5;
}

h1 {
  text-align: center;
  font-family: 'Cabin Sketch', monospace;
  color: var(--brighter-color);
  font-size: 81px;
  font-weight: bold;
  padding: 40px;
  text-shadow:
	  -1px -1px 0 #000,
	  1px -1px 0 #000,
	  -1px 1px 0 #000,
	  1px 1px 0 #000;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
} 

h2, h3, h4 {
  font-weight: bold;
  color: #fff;
}

h2, h4 {
  color: #fff;
}

.secondary h3 {
  color: var(--bright-color);
}

.splash {
  text-align: center;
  margin: 0 0 40px;
}

.splash strong {
  padding: 6px;
  text-shadow: 0 0 5px var(--bright-color-faded);
  border: 1px solid #222;
  background: #fff;
  border-radius: 4px;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .splash strong {
    padding: 2px;
  }
}

.splash .motto {
  margin: 80px 0 0;
  z-index: 10;
}

.splash h1 {
  margin: 0 !important;
  padding-top: 60px !important;
  border: 0 !important;
  border-bottom: 1px solid var(--bright-color) !important;
  border-radius: 0 !important;
}

@media only screen and (max-width: 600px) {
  .splash h1 {
    font-size: 48px;
  }
}

.splash em {
  font-style: normal;
  color: #fff;
}

.splash h2 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .splash h2 {
    font-size: 24px;
    margin: 8px;
  }
}

.splash sup {
  font-size: 12px;
  vertical-align: top;
  margin-left: 5px;
}

.splash .action {
  position: absolute;
  text-align: center;
  z-index: 10;
  left: 0;
  right: 0;
}

.splash .button {
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
  box-shadow: 0 0 20px 20px #000;
}

@media only screen and (max-width: 600px) {
  .splash .button {
    margin-top: 20px;
    font-size: 24px;
  }
}

#city {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#city svg {
  border-bottom: 1px solid var(--brighter-color);
}

a.button {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid var(--bright-color);
  border-right: 1px solid var(--bright-color);
  border-bottom: 1px solid var(--bright-color);
  background: repeating-linear-gradient(
    0deg,
    var(--bright-color-faded-solid),
    var(--bright-color) 95%,
    var(--brighter-color) 100%
  );
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;;
}

@media only screen and (max-width: 600px) {
  .stats {
    margin: 0 20px;
  }
}

.stat {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

.stat .label {
  color: var(--contrast-color);
}

.stat .value {
  font-size: 32px;
  font-weight: bold;
}

hr {
  background: transparent;
  border: 0;
  border-top: 1px solid var(--brighter-color);
  margin: 40px 0;
}

hr.weak {
  border-top: 1px solid var(--bright-color-faded);
}

.overview {
  font-size: 18px;
}

.overview strong {
  color: var(--bright-color);
}

.overview .button {
  font-size: 18px;
}

.overview p:last-child {
  margin-top: 30px;
}

.overview em {
  font-style: normal;
  text-decoration: underline;
}

.filter {
  margin: 0 0 40px;
}

.filter.nav {
  margin-top: -20px;
  text-align: right;
  opacity: 0.7;
}

.filter p {
  display: inline;
  font-weight: bold;
  margin-right: 4px;
}

.filter a {
  background: #222; 
  text-decoration: none;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  border: 0;
  margin: 0 4px;
}

.filter a.active {
  background: var(--bright-color-subtle);
  font-weight: bold;
}

.stories .note {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #444;
}

.story {
  padding: 20px;
  margin: 40px;
}

.story .attribution {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.story .spacer {
  color: var(--brighter-color);
  font-weight: normal;
}

.fade {
  opacity: 0;
  animation: 1s ease 0s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0%    { opacity:0; }
  66%   { opacity:0; }
  100%  { opacity:1; }
}
