/* Support. */

:root {
  --light-tan-color:                  #f9f7f4;
  --dark-tan-color:                   #f6ede4;
  --lighter-tan-color:                #fefbf7;
  --light-gray-color:                 #666666;
  --dark-gray-color:                  #333333;
  --lighter-gray-color:               #dad7d3;
  --lightest-gray-color:              #f8f8f8;
  --alternate-gray-color:             #acacac;
  --alternate-light-gray-color:       #c1c1c1;
  --light-blue-color:                 #ebf3f5;
  --dark-blue-color:                  #99cfdb;
  --light-green-color:                #ddeedd;;
  --red-color:                        #d93c5e;
  --pink-color:                       #fa466c;
  --white-color:                      #ffffff;
  --orange-color:                     #f9a01b;
  --beige-color:                      #afa392;
  --green-color:                      #1ba5b0;
  --yellow-color:                     #ffffaa;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('fonts/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Regular.woff2') format('woff2'),
    url('fonts/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-ExtraLight.woff2') format('woff2'),
    url('fonts/WorkSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Bold.woff2') format('woff2'),
    url('fonts/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Black.woff2') format('woff2'),
    url('fonts/WorkSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-ExtraBold.woff2') format('woff2'),
    url('fonts/WorkSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Medium.woff2') format('woff2'),
    url('fonts/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Thin.woff2') format('woff2'),
    url('fonts/WorkSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Light.woff2') format('woff2'),
    url('fonts/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Regular.woff2') format('woff2'),
    url('fonts/SulSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Light.woff2') format('woff2'),
    url('fonts/SulSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Medium.woff2') format('woff2'),
    url('fonts/SulSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('fonts/ChronicleDisplay-Roman.woff2') format('woff2'),
    url('fonts/ChronicleDisplay-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Bold.woff2') format('woff2'),
    url('fonts/SulSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Elements. */

body {
  background: var(--white-color);
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-family 'Work Sans', sans-serif;
}

a {

}

.button {
  display: inline-block;
  background: var(--dark-gray-color);
  border-radius: 2px;
  padding: 17px 42px;
  color: var(--white-color);
  text-decoration: none;
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: lowercase;
}

.button.outline {
  background: transparent;
  color: var(--darker-gray-color);
  padding: 17px 39px;
  border: 1px solid var(--alternate-light-gray-color);
  border-radius: 2px;
}

hr {
  display: block;
  height: 100px;
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Chronicle Display';
  font-size: 48px;
  color: var(--dark-gray-color);
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

h2 {
  font-family: 'Work Sans';
  font-weight: bold;
  color: var(--dark-gray-color);
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 a {
  padding-left: 10px;
  font-weight: normal;
  color: var(--dark-blue-color);
  text-decoration: none;
}
h2 a:after {
  content: '\2191';
}

p {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray-color);
  text-transform: none;
}

ul li {
  list-style-type: square;
}

li a,
p a {
  color: var(--green-color);
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sup a {
  font-family: 'Work Sans';
  font-weight: bold;
  color: var(--pink-color);
  font-size: 10px;
  text-decoration: none;
}

ol {
  list-style: none;
  counter-reset: item;
  padding: 0 0 0 5px;
}

ol li {
  counter-increment: item;
}

ol li:before {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 10px;
  min-width: 15px;
  content: counter(item);
  color: var(--pink-color);
  display: inline-block;
}

section {
  padding: 80px 115px;
}

section.primary {
  background: var(--light-tan-color);
  padding-top: 100px;
}

section.secondary {
  background: var(--white-color);
}

section.tertiary {
  background: var(--dark-tan-color);
}

section.primary h2 {
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--dark-gray-color);
  margin-top: 0;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  section {
    padding: 80px 40px 70px;
  }
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray-color);
  text-transform: none;
  background: var(--dark-tan-color);
  width: 60%;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
}

section.informational h1 {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-tan-color);
}

section.informational h2 {
  text-align: left;
  margin-top: 40px;
}

section.informational .frame p {
  max-width: 800px;
}

section ol li {
  font-size: 14px;
  line-height: 30px;
  font-family: 'Work Sans';
}

.frame {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; 
}

.hero .content {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
}

.hero .content .text {
  margin: 18px 0 24px;
}

.hero .actions ol,
.hero .actions ul {
}

.hero .actions a:not(.button) {
  color: var(--green-color);
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 30px;
}

.hero .art {
  text-align: center;
}

.hero .art.expand {
  margin: 60px 0;
}

.hero .art img {
  width: 100%;
  max-width: fit-content;
}

.hero .art figure {
  display: inline-block;
}

.hero .art figcaption {
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .hero .content {
    flex: 1 0 100%;
    max-width: none;
    margin-bottom: 50px;
  }

  .hero .content {
  }

  .hero .art {
    flex: 1 0 100%;
    text-align: center;
  }
}

.stats {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.stat {
  border-radius: 4px;
  background: var(--dark-tan-color);
  padding: 50px 50px 60px;
  flex: 1;
  margin: 15px;
}

.stat img {
  margin-bottom: 8px;
}

.stat .value {
  font-family: 'Chronicle Display';
  font-size: 48px;
  color: var(--dark-gray-color);
  margin-bottom: -2px;
}

.stat .label {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray-color);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.box {
  background: var(--light-tan-color);
  text-align: center;
  margin: 15px;
  padding: 48px;
  flex: 1;
}

.box p {
  font-family: 'Chronicle Display';
  font-size: 26px;
  line-height: 36px;
  margin: 20px 0 45px;
  border-radius: 4px;
}

.flow {
  text-align: center;
  padding: 40px 0;
  margin: 0;
}

.flow li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flow p {
  margin: 0;
}

.flow hr {
  background: var(--dark-tan-color);
  height: 1px;
  width: 400px;
  margin: 40px auto 20px;
}

.flow .button {
  margin-top: 20px;
  width: 150px;
}

.filter p {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--dark-gray-color);
  margin-right: 30px;
}

.filter a {
  font-family: 'Work Sans';
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
  color: var(--light-gray-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.filter a.active {
  color: var(--dark-gray-color);
  border-bottom: 3px solid var(--orange-color);
}

@media only screen and (max-width: 800px) {
  .filter p {
    margin-right: 10px;
  }

  .filter a {
    margin-right: 10px;
  }
}

.stories {
}

.story {
  display: none;
  background: var(--light-tan-color);
  margin: 40px 0;
  flex-wrap: wrap;
}

.story.visible {
  display: flex;
}

.story img {
  flex: 1;
  object-fit: cover;
  max-width: 100%;
}

.story .content {
  flex: 1;
  padding: 55px 100px;
  align-self: center;
}

.story p {
  vertical-align: middle;
  color: var(--dark-gray-color);
  font-family: 'Chronicle Display';
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  min-width: 200px;
  color: var(--dark-gray-color);
}

.story .date {
  text-align: center;
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--beige-color);
}

.story .attribution {
  text-align: center;
  font-family: 'Work Sans';
  font-size: 12px;
  line-height: 24px;
  color: var(--light-gray-color);
}

.story .attribution:before {
  content: '\2014';
}

.story .name:after {
  content: ' |';
}

.story .gender:after {
  content: ' |';
}

@media only screen and (max-width: 800px) {
  .story .content {
    padding: 30px;
    margin: 0;
  }
}

.pager {
  font-family: 'Work Sans';
  font-size: 16px;
  text-align: center;
}

.pager a {
  text-decoration: none;
}

.pager .label {
  color: var(--dark-gray-color);
  font-weight: bold;
}

.pager .page {
  color: var(--light-gray-color);
  padding: 0 8px;
}

.pager .active {
  font-weight: bold;
  color: var(--pink-color);
}

/* Sections. */

header {
  padding: 30px 50px 0;
  background: var(--light-tan-color);
  display: flex;
}

header a {
  text-decoration: none;
  color: inherit;
}

header .logo {
  color: var(--dark-gray-color);
  font-family: 'Sul Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  flex: 1;
  text-align: left;
}

header .logo em {
  font-style: normal;
  font-weight: bold;
  color: var(--red-color);
}

header nav {
  position: relative;
  flex: 1;
  text-align: right;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  color: var(--light-gray-color);
  font-family: 'Work Sans';
  font-weight: bold;
  display: inline-block;
  list-style-type: none;
  margin-right: 24px;
  font-size: 14px;
  line-height: 24px;
}

header .main {
  padding: 8px 16px;
  border: 1px solid var(--lighter-gray-color);
  border-radius: 2px;
}

header li:last-child {
  margin-right: 0;
}

header .hamburger {
  display: none;
  transition: all 100ms;
  background: url(img/menu.svg) no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 800px) {
  header {
    padding: 30px 40px 0;
  }

  header .logo {
    margin-top: 3px;
  }

  header .hamburger {
    display: inline-block;
    z-index: 10;
  }

  header ul {
    transition: transform 300ms;
    z-index: 5;
    background: var(--white-color);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(110%);
  }

  header .active ul {
    transform: translateX(0%);
  }

  header .active .hamburger {
    background-image: url(img/close.svg);
  }

  header li {
    font-size: 24px;
    display: block;
    text-align: left;
    margin: 40px;
  }

  header .main {
    padding: 0;
    border: 0;
    border-bottom: 2px solid var(--orange-color);
    font-weight: bold;
  }
  
  header ul a {
    border-bottom: 2px solid var(--orange-color);
    font-weight: normal;
  }

  body.modal {
    height: 100vh;
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 801px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 50px 60px;
    background: transparent;
    transition: all 250ms;
    z-index: 100;
  }

  body.scroll header {
    background: var(--white-color);
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
  }
}

footer {
  padding: 40px 50px 50px;
  background: var(--lightest-gray-color);
  text-align: center;
}

footer a {
  color: inherit;
}

footer .logo {
  color: var(--light-gray-color);
  font-family: 'Sul Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 10px;
}

footer .logo a {
  text-decoration: none;
}

footer nav {
}

footer nav ul {
  margin: 0;
  padding: 0;
}

footer nav li {
  color: var(--light-gray-color);
  font-family: 'Work Sans';
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
}

footer nav li:after {
  content: " | ";
}

footer nav li:last-child {
  margin-right: 0;
}

footer nav li:last-child:after {
  content: "";
}

footer .pink {
  display: inline-block;
  background: pink;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  vertical-align: middle;
  margin-left: 2px;
  margin-top: -1px;
}

form {
  margin: 40px 0;
}

form .message {
  display: none;
  opacity: 0;
  transition: all 250ms;
  background: var(--light-green-color);
  border-radius: 4px;
  margin: 30px 0;
  font-family: 'Work Sans';
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding: 30px;
}

form.saved .message {
  display: block;
  opacity: 1;
}

form > div {
  margin-bottom: 30px;
}

form label {
  text-transform: none;
  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-gray-color);
  display: block;
}

form label span {
  color: var(--alternate-gray-color);
}

form .hint {
  color: var(--alternate-gray-color);
  font-size: 12px;
  font-family: 'Work Sans';
  margin: 5px 0 15px;
}

form textarea,
form input {
  font-family: 'Work Sans';
  font-size: 16px;
  display: block;
  border: 1px solid var(--lighter-gray-color);
  background: var(--white-color);
  color: var(--dark-gray-color);
  width: 300px;
  padding: 10px 12px;
  border-radius: 4px;
}

form textarea {
  width: 80%;
  height: 200px;
}

form textarea + input {
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  form textarea,
  form input,
  form textarea {
    width: 95%;
  }
}

form textarea::placeholder,
form input::placeholder {
  color: var(--lighter-gray-color);
}

form select:focus,
form textarea:focus,
form input:focus {
  outline: none;
  border-color: var(--dark-gray-color);
}

form input[type=radio],
form input[type=checkbox] {
  display: inline-block;
  width: auto;
}

form input[type=radio] + label,
form input[type=checkbox] + label {
  display: inline-block;
  font-weight: normal;
}

@media only screen and (max-width: 800px) {
  form input[type=checkbox] {
    position: absolute;
  }

  form input[type=checkbox] + label {
    padding-left: 30px;
    margin-top: -4px;
  }
}

.info-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}

.info {
  margin: 15px;
  flex: 1 0 40%;
  min-width: 200px;
}

.info h3 {
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--dark-gray-color);
  margin-top: 0;
  letter-spacing: 1px;
}

.info ul {

}

.info li {
  color: var(--light-gray-color);
  font-family: 'Work Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-transform: none;
}

.info li:not(:first-child) {
  opacity: 0.7;
}

.symptoms-group {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.symptoms {
  flex: 1 0 200px;
  margin: 15px;
  border-radius: 4px;
  background: var(--light-tan-color);
  padding: 50px;
}

.symptoms mark {
}

.symptoms h3 {
  font-family: 'Chronicle Display';
  font-size: 32px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
}

.symptoms img {
  height: 35px;
  margin-bottom: 10px;
}

.symptoms:not(:first-child) img {
  margin-left: -5px;
}

.symptoms ul {
  margin-top: 10px;
  padding-left: 30px;
}

.symptoms li {
  color: var(--light-gray-color);
  font-family: 'Work Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.treatments {

}

.treatments h3 {
  font-family: 'Work Sans';
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--dark-gray-color);
  margin: 60px 0 30px;
}

.treatment-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.treatment {
  flex: 1;
  max-width: 300px;
  min-width: 150px;
  margin: 15px;
  border-radius: 4px;
  padding: 50px;
  background: var(--light-tan-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.treatment .label {
  font-family: 'Chronicle Display';
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-gray-color);
}

.treatment .type {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  color: var(--beige-color);
}

.treatment .notes {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 20px;
  color: var(--light-gray-color);
  text-transform: none;
  margin: 20px 0 40px;
}

.treatment .actions {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .treatment {
    padding: 30px;
  }
}

mark {
  background: var(--yellow-color);
  color: var(--dark-gray-color);
}


textarea:focus:invalid,
input:focus:invalid {
  border-color: var(--pink-color);
}

#overview {
  background: var(--light-tan-color);
}

#overview .hero {
  margin-bottom: 100px;
}

@media only screen and (max-width: 800px) {
  #overview .hero {
    margin-bottom: 70px;
  }

  #overview .art {
    padding-top: 20px;
  }
}

#overview .stat:first-child {
  background: var(--light-blue-color);
}

#overview .stat:last-child {
  background: var(--lighter-tan-color);
}

#facts-overview {
  background: var(--dark-tan-color);
}

#facts-overview .art {
  order: -1;
}

@media only screen and (max-width: 800px) {
  #facts-overview .art {
    order: 0;
  }
}

#stories-overview {
  background: var(--light-blue-color);
}

#action-overview {
  background: var(--light-tan-color);
}

#action-overview .art {
  order: -1;
}

@media only screen and (max-width: 800px) {
  #action-overview .art {
    order: 0;
  }
}

#urgent {
  background: var(--dark-gray-color);
  text-align: center;
}

#urgent strong {
  color: var(--white-color);
}

#urgent a {
  color: var(--dark-blue-color);
}

#urgent h1 {
  font-size: 38px;
  line-height: 58px;
  color: var(--white-color);
  margin-bottom: 26px;
}

#urgent p {
  font-family: 'Work Sans';
  color: var(--alternate-gray-color);
  font-size: 18px;
  line-height: 30px;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #urgent h1 {
    font-size: 24px;
    line-height: 32px;
  }

  #urgent p {
    font-size: 14px;
    line-height: 24px;
    width: auto;
  }
}

#references {
  background: var(--white-color);
  font-family: 'Work Sans';
}

#references a {
  color: var(--black-color);
}

#references a:last-child {
  text-decoration: none;
  color: var(--dark-blue-color);
}

#references a:last-child:after {
  content: '\2191';
}

#references h1 {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-gray-color);
  line-height: 24px;
}

#references li {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-gray-color);
}

#about .boxes {
  margin-top: 46px;
}

#legal {
  text-transform: none;
}

#treatment h2,
#symptoms h2,
#facts h2 {
  margin-bottom: 70px;
}

#symptoms .symptoms-group {
  margin-top: 70px;
}

#treatment ol {
  margin: 30px 0 0 50px;
}

#action .hero .content {
  margin-top: 70px;
  width: 150px;
}

#action .art img {
  width: 650px;
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  #action .art {
    padding-top: 20px;
  }
}
