/* Support. */

:root {
  --light-tan-color:          #f9f7f4;
  --dark-tan-color:           #f6ede4;
  --lighter-tan-color:        #fefbf7;
  --light-gray-color:         #666666;
  --dark-gray-color:          #333333;
  --lighter-gray-color:       #dad7d3;
  --lightest-gray-color:      #f8f8f8;
  --alternate-gray-color:     #acacac;
  --light-blue-color:         #ebf3f5;
  --dark-blue-color:          #99cfdb;
  --red-color:                #d93c5e;
  --pink-color:               #fa466c;
  --white-color:              #ffffff;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('fonts/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Regular.woff2') format('woff2'),
    url('fonts/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-ExtraLight.woff2') format('woff2'),
    url('fonts/WorkSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Bold.woff2') format('woff2'),
    url('fonts/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Black.woff2') format('woff2'),
    url('fonts/WorkSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-ExtraBold.woff2') format('woff2'),
    url('fonts/WorkSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Medium.woff2') format('woff2'),
    url('fonts/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Thin.woff2') format('woff2'),
    url('fonts/WorkSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Light.woff2') format('woff2'),
    url('fonts/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Regular.woff2') format('woff2'),
    url('fonts/SulSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Light.woff2') format('woff2'),
    url('fonts/SulSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Medium.woff2') format('woff2'),
    url('fonts/SulSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('fonts/ChronicleDisplay-Roman.woff2') format('woff2'),
    url('fonts/ChronicleDisplay-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sul Sans';
  src: url('fonts/SulSans-Bold.woff2') format('woff2'),
    url('fonts/SulSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Elements. */

body {
  background: var(--white-color);
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-family 'Work Sans', sans-serif;
}

a {

}

a.button {
  background: var(--dark-gray-color);
  border-radius: 2px;
  padding: 17px 42px;
  color: var(--white-color);
  text-decoration: none;
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
}

h1 {
  font-family: 'Chronicle Display';
  font-size: 48px;
  color: var(--dark-gray-color);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray-color);
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sup a {
  font-family: 'Work Sans';
  font-weight: bold;
  color: var(--pink-color);
  font-size: 10px;
  text-decoration: none;
}

ol {
  list-style: none;
  counter-reset: item;
  padding: 0 0 0 5px;
}

ol li {
  counter-increment: item;
}

ol li:before {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 10px;
  content: counter(item);
  color: var(--pink-color);
  display: inline-block;
}

section {
  padding: 80px 115px;
}

@media only screen and (max-width: 1000px) {
  section {
    padding: 80px 40px;
  }
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray-color);
}

.frame {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
}

.hero .content {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
}

.hero .content .text {
  margin: 18px 0 48px;
}

.hero .content .actions {
  /* Prevents button from overlapping during flex wrap. */
  margin-bottom: 80px;
}

.hero .art {
  text-align: center;
}

.hero:first-child .art {
  text-align: right;
}

.hero .art img {
  width: 100%;
  max-width: fit-content;
}

.hero .art figure {
  display: inline-block;
}

.hero .art figcaption {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .hero .content {
    flex: 1 0 100%;
    max-width: none;
  }

  .hero .art {
    flex: 1 0 100%;
    text-align: center;
  }
}

.stat {
  border-radius: 4px;
}

.stat img {
  margin-bottom: 8px;
}

.stat .value {
  font-family: 'Chronicle Display';
  font-size: 48px;
  color: var(--dark-gray-color);
  margin-bottom: -2px;
}

.stat .label {
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray-color);
}

/* Sections. */

header {
  padding: 30px 50px 0;
  background: var(--light-tan-color);
  display: flex;
}

header a {
  text-decoration: none;
  color: inherit;
}

header .logo {
  color: var(--dark-gray-color);
  font-family: 'Sul Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  flex: 1;
  text-align: left;
}

header .logo em {
  font-style: normal;
  font-weight: bold;
  color: var(--red-color);
}

header nav {
  position: relative;
  flex: 1;
  text-align: right;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  color: var(--light-gray-color);
  font-family: 'Work Sans';
  font-weight: bold;
  display: inline-block;
  list-style-type: none;
  margin-right: 24px;
  font-size: 14px;
  line-height: 24px;
}

header .main {
  padding: 8px 16px;
  border: 1px solid var(--lighter-gray-color);
  border-radius: 2px;
}

header li:last-child {
  margin-right: 0;
}

header .hamburger {
  display: none;
  transition: all 250ms;
  background: url(img/menu.svg) no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 30px 40px 0;
  }

  header .hamburger {
    display: inline-block;
    z-index: 10;
  }

  header ul {
    transition: transform 500ms ease-in;
    z-index: 5;
    background: var(--white-color);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(110%);
  }

  header .active ul {
    transform: translateX(0%);
  }

  header .active .hamburger {
    background-image: url(img/close.svg);
  }

  header li {
    font-size: 14px;
    margin: 0;
    display: block;
    text-align: left;
    margin: 20px;
  }

  header .main {
    padding: 0;
    border: 0;
  }
}

footer {
  padding: 40px 50px 50px;
  background: var(--lightest-gray-color);
  text-align: center;
}

footer a {
  color: inherit;
}

footer .logo {
  color: var(--light-gray-color);
  font-family: 'Sul Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 10px;
}

footer .logo a {
  text-decoration: none;
}

footer nav {
}

footer nav ul {
  margin: 0;
  padding: 0;
}

footer nav li {
  color: var(--light-gray-color);
  font-family: 'Work Sans';
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
}

footer nav li:after {
  content: " | ";
}

footer nav li:last-child {
  margin-right: 0;
}

footer nav li:last-child:after {
  content: "";
}

footer .pink {
  display: inline-block;
  background: pink;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  vertical-align: middle;
  margin-left: 2px;
  margin-top: -1px;
}

#overview {
  background: var(--light-tan-color);
}

#overview .hero {
  margin-bottom: 140px;
}

@media only screen and (max-width: 1000px) {
  #overview .hero {
    margin-bottom: 70px;
  }
}

#overview .stats {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

#overview .stat {
  background: var(--dark-tan-color);
  padding: 50px 50px 60px;
  flex: 1;
  margin: 15px;
}

#overview .stat:first-child {
  background: var(--light-blue-color);
}

#overview .stat:last-child {
  background: var(--lighter-tan-color);
}

#facts {
  background: var(--dark-tan-color);
}

#facts .art {
  order: -1;
}

@media only screen and (max-width: 1000px) {
  #facts .art {
    order: 0;
  }
}

#stories {
  background: var(--light-blue-color);
}

#action {
  background: var(--light-tan-color);
}

#action .art {
  order: -1;
}

@media only screen and (max-width: 1000px) {
  #action .art {
    order: 0;
  }
}

#urgent {
  background: var(--dark-gray-color);
  text-align: center;
}

#urgent strong {
  color: var(--white-color);
}

#urgent a {
  color: var(--dark-blue-color);
}

#urgent h1 {
  font-size: 38px;
  line-height: 58px;
  color: var(--white-color);
  margin-bottom: 26px;
}

#urgent p {
  font-family: 'Work Sans';
  color: var(--alternate-gray-color);
  font-size: 18px;
  line-height: 30px;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  #urgent h1 {
    font-size: 24px;
    line-height: 32px;
  }

  #urgent p {
    font-size: 14px;
    line-height: 24px;
    width: auto;
  }
}

#references {
  background: var(--white-color);
  font-family: 'Work Sans';
}

#references a {
  color: var(--black-color);
}

#references a:last-child {
  text-decoration: none;
  color: var(--dark-blue-color);
}

#references h1 {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-gray-color);
  line-height: 24px;
}

#references li {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-gray-color);
}
